.center{
    margin-left: 250px;
    margin-top: 90px;
    margin-bottom: -150px;  
    
}



@media (max-width: 1024px) {
    body,html {
         /*background:  url(../images/background/table.jpg) no-repeat;*/
      
         overflow: hidden;
         background-attachment: fixed;
         height: 100vh;
        

    }
    
    .max1024{
        width: 400px;
        height: 400px;
    }

    .center {
        margin-left: 180px;
        margin-top: 125px;
        margin-bottom: -150px;
    }
   
    
  
}